*,
.input-text {
  font-size: 1.5rem;
}

.app-name {
  font-size: 1.7rem;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
}

#appRoot {
  height: 100vh;
  width: 100vw;
  min-width: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#marksMenuRoot {
  height: 100vh;
}

.checkedParagraph {
  text-decoration-line: line-through;
}

.light-bg-color {
  background-color: beige;
}

.create-note-button {
  width: 40px;
  height: 40px;
}

#deleteIcon {
  font-size: 11px;
}

#deleteNoteIcon {
  font-size: 1.2em;
}

.cursor-pointer {
  cursor: pointer;
}

.add-mark-icon {
  position: relative;
  left: 1px;
}

.noteeditablenote-size {
  max-height: 200px;
  overflow: hidden;
}

.notes-list-view--layout {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.table-view-notes-layout {
  max-width: 1000px;
}

.custom-alert-div {
  position: absolute;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-alert {
  width: 200px;
}

.custom-button {
  width: 15px;
}

@media screen and (max-width: 600px) {
  .notes-view-button-visibility {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .min-size-note-table-view {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .table-view-notes-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

